body{
  background-color: black;
  min-width: 100vw;
  color: white;
  
  }
  .buttonContain{
  
    min-width: 100vw;
    display:grid;  
    justify-content: center;
  
  }
  .dialog{
    padding: 0 ;
    width: 250px;
    display:grid;
  }

  .x{
    margin: 5px;
    margin-bottom: 15px;
    justify-self: start;
  }

  .displayBox{

    display:flex;
    max-width:1000px;
    min-width: 250px;
    height:40px;
    
  }
  .displayBox *{

    border: 3px white solid;  
    flex:1 1 0;
    text-align: center;
  }

